* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 600;
}

body {
  display: flex;
  height: 100vh;
  width: 100%;
}

.container {
  display: flex;
  gap: 2%;
  margin: 20px 10px;
  background-color:none;
  padding: 10px;
  height: 90vh;
  width: 100%;
}

.main-video-content {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 10px;

}

.main-video-content video {
  height: 95%;
  width: 100%;
}

.playlist {
  display: flex;
  flex-direction: column;
  gap: 10px;
  overflow: auto;
  max-height: 82.7vh;
  padding: 2px;
  min-height: 10vh;
  width: 20%;
}

.playlist::-webkit-scrollbar {
  width: 100%;
}
.playlist::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: gray; 
}

.playlist-video {
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 0;
  border: 1px solid rgba(63, 63, 63, 0.507);
  margin-right: 5px;
  cursor: pointer;
}

.active {
  background-color: white;
  color: black;
}

.playlist-video video{
  width: 40%;
}

@media (max-width: 900px) {
  .container {
    flex-direction: column;
    margin-top: 60px;
    height: -webkit-fill-available;
  }

  .container, .main-video-content video {
    width: 100%;
  }
}